[Unit]
Description=akash Daemon
After=network-online.target

[Service]
User=sentry
ExecStart=/home/sentry/go/bin/akashd start  --pruning nothing
Restart=always
RestartSec=3
LimitNOFILE=4096

[Install]
WantedBy=multi-user.target
